<div class="flex flex-col items-center justify-center">
    <div class="block">
        <div class="w-fit mt-20 mb-4">
            <p class="h-14 text-5xl font-light text-ellipsis tracking-tighter typewriter">Hi👋, My name is <span class="font-bold -tracking-tight
        ">Prashanth.</span>
            </p>
        </div>
        <div class="flex flex-col">
            <p class="max-w-2xl w-fit text-lg font-normal">A passionate front-end developer currently working in Infosys
                as Systems Engineer, experience in working with Angular, and have experience in working with Angular
                Material, Boostrap, Tailwind CSS and others. My main focus is buiding fast, accessible, and beautiful
                websites that users enjoy.</p>
        </div>

        <button type="button" routerLink="/projects"
            class="border-black flex items-center border rounded-md text-sm font-semibold p-1.5 mt-6 bg-gray-50 hover:bg-gray-200">See
            my work <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" class="w-5 h-5 mt-1 ml-1">
                <path
                    d="M519.463-480 337.886-661.577l38.922-39.73L598.114-480 376.808-258.693l-38.922-39.73L519.463-480Z" />
            </svg></button>
    </div>
</div>